# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Arquivos de teste
/tests/load/
/tests/security/
/tests/e2e/
/tests/load/test-data/
error-log.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.*
!.env.example

# Dependências
/node_modules
/.pnp
.pnp.js

# Build
/.next/
/out/
/build
/dist

# Cache
.vercel
.cache
*.tsbuildinfo
next-env.d.ts

# Sistema
.DS_Store
Thumbs.db
